@model IEnumerable<Connect4.Models.Match>

<!--<meta http-equiv="refresh" content="2">-->

@{
    ViewBag.Title = "Game";
}
<style>
table{
    width:100%;
    height:600px;
}

tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    width:14.3%;
    height: 100px
}

button{
    width: 80%;
    height: 60%;
}

.button{
    border: none;
}

.Player1{
    background-color:#f44336;
}

.Player2{
    background-color:#008CBA;
}
</style>
<!-- Team 1->ROSSI:"#f44336" Team 2->BLU"#008CBA"-->
<h2>Game</h2>
<div id="tableModel"></div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">

        $(function () {
            var table = $.connection.ShowTableHub; 
            
            table.client.GetUpdateTable = function () { 
                getAll();
                console.log("Calll");
            };

            $.connection.hub.start().done(function () {
                getAll();
                table.server.UpdateTable();
            });
        });

        function getAll() {
            var model = $('#tableModel');
            $.ajax({
                
                url: '/Manage/GetUpdateTable',  
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function(result){ model.empty().append(result);console.log(result);}  
            });                       
        }
    </script>
}