
<!--<meta http-equiv="refresh" content="2">-->

@{
    ViewBag.Title = "Partita";
}

<style>
table{
    width:100%;
    height:600px;
}

tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    width:14.3%;
    height: 100px
}

button{
    width: 80%;
    height: 60%;
}

.button{
    border: none;
}

.Player1{
    background-color:#f44336;
}

ul{
    list-style: none
}

.Player2{
    background-color:#008CBA;
}

.Giocatore1::before{
    content: "•"; color: #f44336
}

.Giocatore2::before{
    content: "•"; color: #008CBA
}
</style>
<!-- Team 1->ROSSI:"#f44336" Team 2->BLU"#008CBA"-->
<h2>Game</h2>
@using (Html.BeginForm()) 
{
    <div>
        @Html.Raw(ViewBag.table)
    </div>
    
}
<!--<div id="tableModel"></div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">

        $(function () {
            var table = $.connection.ShowMatchHub; 
            
            table.client.GetUpdateTable = function () { 
                var nameMatch = getUrlParameter("Name");
                getAll(nameMatch);
                console.log("chiamato");
            };

            $.connection.hub.start().done(function () {
                
                var nameMatch = getUrlParameter("Name");

                getAll(nameMatch);
                table.server.UpdateTable(nameMatch);
            });
        });

        //funzione per prendere il nome della partita
        function getUrlParameter(sParam) {
                    var sPageURL = window.location.search.substring(1),
                        sURLVariables = sPageURL.split('&'),
                        sParameterName,
                        i;

                    for (i = 0; i < sURLVariables.length; i++) {
                        sParameterName = sURLVariables[i].split('=');

                        var key = decodeURIComponent(sParameterName[0]);
                        var value = decodeURIComponent(sParameterName[1]);

                        if (key === sParam) {
                            return value === undefined ? true : value;
                        }
                    }
        };

        function getAll(nameMatch) {
            var model = $('#tableModel');
            console.log(model);
            var urlString = '/Manage/GetUpdateTable' + "?Name=" + nameMatch;
            console.log("c'è");
            $.ajax({
                url: urlString,  
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function(result){model.empty().append(result);}  
            });
        }
    </script>
}-->